[submodule "memory-allocator"]
	path = memory-allocator
	url = https://github.com/shoamco/memory-allocator.git
[submodule "hashmap"]
	path = hashmap
	url = https://github.com/shoamco/hashmap.git
[submodule "implementation-cpp-pre-processor-with-python-"]
	path = implementation-cpp-pre-processor-with-python-
	url = https://github.com/shoamco/implementation-cpp-pre-processor-with-python-.git
[submodule "fixed-point"]
	path = fixed-point
	url = https://github.com/shoamco/fixed-point.git
[submodule "c-generic-vector"]
	path = c-generic-vector
	url = https://github.com/shoamco/c-generic-vector.git
[submodule "concurrency-thread-safe-singleton"]
	path = concurrency-thread-safe-singleton
	url = https://github.com/shoamco/concurrency-thread-safe-singleton.git
